* {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  display: none;
}

.text-task {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  z-index: 5;
  bottom: 0;
}

.text-task .control > .important-check {
  -webkit-appearance: none;
}
.text-task .control > .important-check:after {
  content: "\e085";
  font: normal normal normal 24px/1 "iconmonstr-iconic-font";
  text-rendering: auto;
}

.text-task .control > .important-check:checked:after {
  content: "\e083";
  font: normal normal normal 24px/1 "iconmonstr-iconic-font";
  text-rendering: auto;
  color: #3e8ed0 !important;
}

.task-actions {
  position: fixed;
  z-index: 2;
  bottom: 1em;
  right: 1em;
}

.task-actions span {
  border-radius: 3em;
}

.all-settings {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.close-settings:active {
  background-color: #0001;
}

.time-model .model-hours,
.model-minutes {
  overflow-y: scroll;
  height: 4.5em;
  width: 2em;
  cursor: pointer;
}

.time-model .model-hours::-webkit-scrollbar,
.model-minutes::-webkit-scrollbar {
  display: none;
}

#on-off-switch {
  -webkit-appearance: none;
  cursor: pointer;
}

#on-off-switch::after {
  content: "";
  background: rgba(61, 61, 61, 0.067);
  padding: 4px 30px;
  border-radius: 2em;
}

#on-off-switch:checked:after {
  content: "";
  padding: 4px 30px;
  border-radius: 2em;
  background-color: #eff5fb;
}

#on-off-switch::before {
  content: "\2022";
  position: absolute;
  font-size: 5em;
  color: #0002;
  margin-top: -0.63em;
}

#on-off-switch:checked:before {
  content: "\2022";
  position: absolute;
  font-size: 5em;
  color: #cce1f7;
  margin-top: -0.63em;
  margin-left: 0.5em;
}

#on-off-switch-dark {
  -webkit-appearance: none;
  cursor: pointer;
}

#on-off-switch-dark::after {
  content: "";
  background: rgb(165, 165, 165);
  padding: 4px 30px;
  border-radius: 2em;
}

#on-off-switch-dark:checked:after {
  content: "";
  padding: 4px 30px;
  border-radius: 2em;
  background-color: #e4e4e4;
}

#on-off-switch-dark::before {
  content: "\2022";
  position: absolute;
  font-size: 5em;
  color: #0002;
  margin-top: -0.63em;
}

#on-off-switch-dark:checked:before {
  content: "\2022";
  position: absolute;
  font-size: 5em;
  color: #0002;
  margin-top: -0.63em;
  margin-left: 0.5em;
}

.sort-box {
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  right: 1em;
}

.drag-panel {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
}

.dtCheck {
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 24px/1 "iconmonstr-iconic-font";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dtCheck::before {
  content: "\e02b";
}

.dtCheck:checked:before {
  content: "\e024";
}

.task-finished .task-quick-actions {
  display: none !important;
}

.task-deleted .task-quick-actions {
  display: none !important;
}

/*---Task---*/
summary {
  list-style-type: none;
}

summary::selection,
::-moz-selection {
  background: none;
}

summary > p {
  width: 85%;
}
details span {
  cursor: pointer;
}

audio {
  display: none;
}

.im-play,
.im-pause {
  cursor: pointer;
}

.flyNote {
  position: fixed;
  bottom: 5em;
  width: 100%;
  z-index: 5;
  text-align: center;
  display: none;
  transition: all ease-out;
  transition-duration: 0.6s;
}
.flyNote-content {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 0 15px 3px 15px;
  border-radius: 1em;
  font-size: 15px;
  text-transform: lowercase;
}

/*-------time-modal------------*/

.time-modal .main-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-modal .modal-close-btn {
  font-size: 30px;
  font-family: arial;
  color: #fff8;
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
.main-modal .modal-box {
  background: #fff;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box .modal-hour-block {
  overflow-y: scroll;
  height: 170px;
  width: 30%;
  font-size: 35px;
  list-style-type: none;
  margin: 15px 0;
  line-height: 55px;
  font-weight: 800;
  font-family: arial;
  text-align: center;
  padding-left: 15px;
  color: #0003;
}
.modal-box .modal-hour-block li {
  cursor: pointer;
}
.modal-box .modal-hour-block::-webkit-scrollbar {
  display: none;
}
.modal-box .modal-minute-block {
  overflow-y: scroll;
  height: 170px;
  width: 30%;
  font-size: 35px;
  list-style-type: none;
  margin: 15px 0;
  line-height: 55px;
  font-weight: 800;
  font-family: arial;
  text-align: center;
  padding: 0;
  color: #0003;
}
.modal-box .modal-minute-block li {
  cursor: pointer;
}
.modal-box .modal-minute-block::-webkit-scrollbar {
  display: none;
}
.modal-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 0 25px;
}
.modal-options .modal-noon:nth-child(1) {
  -webkit-appearance: none;
}
.modal-options .modal-noon:nth-child(1)::after {
  content: "AM";
  text-align: center;
  font-size: 26px;
  font-family: arial;
  font-weight: 800;
  color: #0003;
}
.modal-options .modal-noon:nth-child(1):checked:after {
  content: "AM";
  text-align: center;
  font-size: 26px;
  font-family: arial;
  font-weight: 800;
  color: #000;
}
.modal-options .modal-noon:nth-child(2) {
  -webkit-appearance: none;
}
.modal-options .modal-noon:nth-child(2)::after {
  content: "PM";
  text-align: center;
  font-size: 26px;
  font-family: arial;
  font-weight: 800;
  color: #0003;
}
.modal-options .modal-noon:nth-child(2):checked:after {
  content: "PM";
  text-align: center;
  font-size: 26px;
  font-family: arial;
  font-weight: 800;
  color: #000;
}
.modal-options .modal-submit {
  padding: 5px 20px;
  margin-top: 20px;
  border: 1px solid #0004;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  font-family: arial;
}
.modal-options .modal-submit:hover {
  background-color: rgb(230, 230, 230);
}
.modal-selector {
  width: auto;
  border: 1px solid #0003;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.modal-selector .modal-input {
  background: none;
  border: none;
  font-size: 15px;
  color: #0009;
  padding-left: 15px;
}
